/************** Background Image **************/

html, body, .container-fluid {
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.index-bg {
  display: none;
  background: url("../images/index-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  width: 100%;
}

/************** Index Page **************/

.index-page {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  font-family: 'Old Standard TT', serif;
}

.index-blurb {
  float: right;
  display: inline-block;
  width: 340px;
  height: 75%;
  padding: 10px 15px;
  margin-right: 20%;
  border-right: 1px solid #555555;
  font-size: 18px;
  vertical-align: middle;
}

.arrow {
  font-size: 10px;
  vertical-align: middle;
}

.index-logo {
  float: right;
  width: 300px;
  height: 50%;
  border-right: 1px solid black;
  padding: 0 20px 0 0;
  display: inline-block;
  font-size: 40px;
  color: #888888;
}

@media (max-width: 768px) {
  .index-blurb {
    position: absolute;
    height: auto;
    top: 80px;
    width: 80%;
    border: none;
    font-size: 17px;
  }

  .index-logo {
    margin-right: 20%;
    height: 75%;
  }

}

.login-menu a {
  color: black;
  text-decoration: underline;
}

.login-menu a:hover {
  text-decoration: none;
}

/************** Login/SignUp Modal **************/


.modalDialogLogin, .modalDialogSignup, .modalDialogNew {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialogLogin h3, .modalDialogSignup h3, .modalDialogNew h3 {
  margin-top: 0;
}

.modalDialogLogin:target, .modalDialogSignup:target, .modalDialogNew:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialogLogin > div, .modalDialogSignup > div, .modalDialogNew > div {
  font-family: 'Lato', sans-serif;
  text-align: left;
  width: 85%;
  max-width: 600px;
  position: relative;
  margin: 235px auto;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0.8);
}


.close {
  background: #606061;
  color: #FFFFFF;
  padding: 3px;
  position: absolute;
  text-align: center;
  right: -12px;
  top: -10px;
  width: 30px;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  opacity: 1;
}

.close:hover { 
  background: white;
  opacity: 1;
}

/************** Header & Menu **************/

.user-page {
  display: none;
  height: 100%;
}

.main-header {
  padding-top: 20px;
  /*border-bottom: 4px double black;*/
  position: relative;
  /*background: url(../images/index-bg.jpg) center center;*/
  background-color: #FAFAFA;
  background-size: cover;
}

.header-title {
  font-family: 'Old Standard TT', serif;
  font-size: 35px;
  padding: 10px 10px;
  vertical-align: middle;
  color: #ccc;
  margin: 0;
  display: inline-block;
}

.dips {
  color: #555;
}

.menu {
  position: absolute;
  right: 15px;
  font-size: 16px;
  vertical-align: middle;
}

.fa-bars {
  padding: 20px 0;
}

.menu-expanded ul {
  list-style-type: none;
  vertical-align: middle;
  margin: 0;
  margin-top: 20px;

}

.menu-expanded li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}

.menu-expanded ul, .menu-expanded li, .menu-expanded li a{
  vertical-align: middle;
  height: 50px;
}

ul li a:link, ul li a:active, ul li a:hover {
  text-decoration: none;
}

.dropdown {
  vertical-align: middle;
  display: none;
}

.menu-expanded li a:hover {
  text-decoration: none
}

.menu-expanded li:hover {
  border-bottom: 2px solid #6EB4FA;
}

@media (max-width: 760px) {
  .menu-expanded {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }

}


/*********** Grid Of Logs ***********/

.logs-wrapper {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 1000px;
}

.mylogs-title {
  font-family: 'Old Standard TT', serif;
  padding-left: 15px;
}

.blocks {
  height: 22vw;
  margin: 0;
  margin-bottom: 18px;
  overflow: hidden;
  cursor: pointer;
}

.image {
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  transition: margin-top 0.2s;
}

.image:hover {
  margin-top: 66px;
}

.deets {
  padding: 7px 15px;
  width: 110%;
  text-align: center;
  font-size: 20px;
  background-color: #eeeeee;
  font-family: 'Old Standard TT', serif;
  height: 100%;
}

.log-date {
  font-size: 15px;
  font-family: 'Lato', sans-serif;

}

@media(max-width: 760px) {
  .row {
    margin: 0 5px;
  }
  .logs-wrapper {
    margin-left: 2%;
    margin-right: 2%;
  }
  .blocks {
    height: 44vw;
  }
  .mylogs-title {
    margin-left: 15px;
    padding-left: 0;
  }
}

@media(max-width: 550px) {
  .search-field {
    width: 140px !important;
  }
}

.profile-wrapper {
  float: left;
  width: 20%;
}


/*************Individual Dive Logs*************/

.divelog-header {
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #ddd;
  display: inline-block;
}

.mylogs-title span {
  color: #bbb;
}

.mylogs-title {
  display: inline-block;
  font-size: 35px;
}

.one-log {
  clear: both;
  padding: 0;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 20px;
}

.arrow-left {
  display: none;
  cursor: pointer;
}

.section {
  padding: 15px;
  color: #549CFC;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.one-one p, .one-two p, .two-one p, .two-two p {
  border-bottom: 1px solid #ccc;
}

.section p {
  font-size: 16px;
  min-height: 27px;
  color: black;
}

.search-field {
  display: none;
  vertical-align: middle;
  border-radius: 3px;
  width: 200px;
  font-size: 17px;
  position: relative;
  padding-right: 0;
  border: transparent;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.fa-search {
  display: inline-block !important;
  vertical-align: middle;
  cursor: pointer;
}

.six-one {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

input {
  outline: none;
}

/*new Log*/
.new-input {
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  outline: none;

}

.page-up {
  font-size: 50px;
  font-weight: bold;
}

.page-up a:link, .page-up a:hover {
  color: black !important;
  text-decoration: none !important;
}


.triangle {
  color: #6EB4FA;
}

.no-logs {
  margin-left: 17px;
}