/************** Background Image **************/

html, body, .container-fluid {
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.index-bg {
  display: none;
  background: url("../images/index-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

/************** Index Page **************/

.index-page {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  font-family: 'Old Standard TT', serif;
}

.index-blurb {
  float: right;
  display: inline-block;
  width: 340px;
  height: 75%;
  padding: 10px 15px;
  margin-right: 20%;
  border-right: 1px solid #555555;
  font-size: 18px;
  vertical-align: middle;
}

.arrow {
  font-size: 10px;
  vertical-align: middle;
}

.index-logo {
  float: right;
  width: 270px;
  height: 50%;
  border-right: 1px solid #555555;
  padding: 0 20px 0 0;
  display: inline-block;
  font-size: 40px;
  color: #888888;
}

@media (max-width: 768px) {
  .index-blurb {
    position: absolute;
    height: auto;
    top: 80px;
    width: 80%;
    border: none;
    font-size: 17px;
  }

  .index-logo {
    margin-right: 20%;
    height: 75%;
  }

}

/************** Login/SignUp Modal **************/


.modalDialogLogin, .modalDialogSignup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialogLogin h3, .modalDialogSignup h3 {
  margin-top: 0;
}

.modalDialogLogin:target, .modalDialogSignup:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialogLogin > div, .modalDialogSignup > div {
  font-family: 'Lato', sans-serif;
  text-align: left;
  width: 85%;
  max-width: 600px;
  position: relative;
  margin: 235px auto;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0.8);
}


.close {
  background: #606061;
  color: #FFFFFF;
  padding: 3px;
  position: absolute;
  text-align: center;
  right: -12px;
  top: -10px;
  width: 30px;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  opacity: 1;
}

.close:hover { 
  background: white;
  opacity: 1;
}

/************** Header & Menu **************/

.user-page {
  display: none;
  height: 100%;
}

.main-header {
  background-color: #eeeeee;
  /*background: url("../images/index-bg.jpg") no-repeat bottom fixed;*/
  /*background-size: cover;*/
  border-bottom: 1px solid #eee;
  position: relative;
}

.header-title {
  font-family: 'Old Standard TT', serif;
  font-size: 35px;
  padding: 10px 10px;
  vertical-align: middle;
  color: #bbb;
  margin: 0;
  display: inline-block;
}

.dips {
  color: #555;
}

.menu {
  position: absolute;
  right: 15px;
  font-size: 16px;
  vertical-align: middle;
}

.fa-bars {
  padding: 20px 0;
}

.menu-expanded ul {
  list-style-type: none;
  vertical-align: middle;
  margin: 0;
  margin-top: 20px;

}

.menu-expanded li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}

.menu-expanded ul, .menu-expanded li, .menu-expanded li a{
  vertical-align: middle;
  height: 50px;
}

.dropdown {
  vertical-align: middle;
  display: none;
}

.menu-expanded li a:hover {
  text-decoration: none
}

.menu-expanded li:hover {
  border-bottom: 1px solid #13649D;
}

@media (max-width: 760px) {
  .menu-expanded {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }
}


/*********** Grid Of Logs ***********/

.mylogs-title {
  font-family: 'Old Standard TT', serif;

}

.logs-wrapper {
  margin-top: 20px;
}

.blocks {
  height: 25vw;
  margin: 0;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}

.image {
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  transition: margin-top 0.2s;
}

.image:hover {
  margin-top: 66px;
}


.deets {
  padding: 7px 15px;
  font-size: 20px;
  background-color: #eeeeee;
  font-family: 'Old Standard TT', serif;
  /*border: 1px solid #ddd;*/
}

.log-date {
  font-size: 15px;
  font-family: 'Lato', sans-serif;

}

@media(max-width: 760px) {
  .row {
    margin: 0 5px;
  }
  .blocks {
    height: 40vw;
  }
}

.divelog-header {
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: white;
}

.mylogs-title span {
  color: #bbb;
}

.one-log {
  background-color: #ddd;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 20px
}

.section {
  border: 1px solid white;
}

.one-one, .one-two, .two-one, .two-two {
  height: 150px;
}

.two-one, .two-two {
  height: 250px;
}

.three-one {
  height: 400px;
}

.four-one {
  height: 100px;
}

.five-one {
  height: 60px;
}